.sectionOneHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-top: 0;
  animation-name: headerAppear;
  animation-duration: 0.8s;

}

@keyframes headerAppear {
  from{transform: translateX(-100px);}
  to{transform: translateX(0px);}
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
  transition: 0.6s;
  height: 90px;
  width: 100%;
  
}

.container-header:hover {
  background-color: rgb(211, 211, 211);
  color: black;
  opacity: 80%;
}


.link-back {
  display: flex;
  color: rgb(27, 27, 27);
  text-decoration: none;
  margin-right: 30px;
}

.go-to-end {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-size: 20px;
}

.cart {
  display: flex;
  margin-left: 5px;
}

.section--one-container {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url('../../../assets/image/watchWallpaper2.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  color: white;
  animation-name: Appear;
  animation-duration: 0.8s;
}

@keyframes Appear {
  from{opacity: 50%;}
  to{opacity: 100%;}
}

.section--two-container {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url('../../../assets/image/wallpaper5.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  color: white;
}

.sectionHeaderTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  color: black;
  height: 90px;
  cursor: default;
}

.section--three-container {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url('../../../assets/image/wallpaper1.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  color: white;
}

.sectionHeaderThree {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  color: black;
  height: 90px;
  cursor: default;
}



