.catalogo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;

}

.promotional-price {
  color: rgb(130, 197, 31);
}

.div-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 35px 0 35px;
  background-color: white;
  color: black;
  width: 210px;
  height: 350px;
  border-radius: 5px;
}

.img-1 {
  display: flex;
  margin-top: -120px;
  margin-bottom: 20px;
  width: 210px;
  height: 230px;
}

.text-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -50px;
}

.add-cart-1 {
  padding: 0 10px 0 10px;
  margin-top: 80px;
  color:black;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

.add-cart-1:hover {
  border-color: black;
}

.add-cart-1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: black;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

.add-cart-1:hover::after {
  transform: scaleX(1);
}

.div-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 35px 0 35px;
  background-color: white;
  color: black;
  width: 210px;
  height: 350px;
  border-radius: 5px;
}

.img-2 {
  display: flex;
  margin-top: -120px;
  margin-bottom: 20px;
  width: 210px;
  height: 230px;
}

.text-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -50px;
}

.add-cart-2 {
  padding: 0 10px 0 10px;
  margin-top: 80px;
  color:black;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

.add-cart-2:hover {
  border-color: black;
}

.add-cart-2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: black;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

.add-cart-2:hover::after {
  transform: scaleX(1);
}

.div-section3 {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 35px 0 35px;
  background-color: white;
  color: black;
  width: 210px;
  height: 350px;
  border-radius: 5px;
}

.img-3 {
  display: flex;
  margin-top: -120px;
  margin-bottom: 20px;
  width: 210px;
  height: 230px;
}

.text-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -50px;
}

.add-cart-3 {
  padding: 0 10px 0 10px;
  margin-top: 80px;
  color:black;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

.add-cart-3:hover {
  border-color: black;
}

.add-cart-3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: black;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

.add-cart-3:hover::after {
  transform: scaleX(1);
}


.div-section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 35px 0 35px;
  background-color: white;
  color: black;
  width: 210px;
  height: 350px;
  border-radius: 5px;
}

.img-4 {
  display: flex;
  margin-top: -120px;
  margin-bottom: 20px;
  width: 210px;
  height: 230px;
}

.text-section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -50px;
}

.add-cart-4 {
  padding: 0 10px 0 10px;
  margin-top: 80px;
  color:black;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

.add-cart-4:hover {
  border-color: black;
}

.add-cart-4::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: black;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

.add-cart-4:hover::after {
  transform: scaleX(1);
}

@media(max-width:1300px){
  .div-section1 {
    height: 270px;
    width: 200px;
    margin-top: 40px;
  }

  .img-1 {
    width: 200px;
  }

  .text-section1 {
    margin-bottom: 20px;
    margin-top: -5px;
  }

  .add-cart-1 {
    margin-top: -12px;
    padding-top: 5px
  }

  .div-section2 {
    height: 270px;
    width: 200px;
    margin-top: 40px;
  }

  .img-2 {
    width: 200px;
  }

  .text-section2 {
    margin-bottom: 20px;
    margin-top: -5px;
  }

  .add-cart-2 {
    margin-top: -12px;
    padding-top: 5px
  }

  .div-section3 {
    height: 270px;
    width: 200px;
    margin-top: 40px;
  }

  .img-3 {
    width: 200px;
  }

  .text-section3 {
    margin-bottom: 20px;
    margin-top: -5px;
  }

  .add-cart-3 {
    margin-top: -12px;
    padding-top: 5px
  }

  .div-section4 {
    height: 270px;
    width: 200px;
    margin-top: 40px;
  }

  .img-4 {
    width: 200px;
  }

  .text-section4 {
    margin-bottom: 20px;
    margin-top: -5px;
  }

  .add-cart-4 {
    margin-top: -12px;
    padding-top: 5px
  }
}

@media(max-width:1030px){
  .div-section1 {
    margin: 45px 10px 0 35px;
  }

  .div-section2 {
    margin: 45px 10px 0 35px;
  }

  .div-section3 {
    margin: 45px 10px 0 35px;
  }
  
}