.comprar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.header-title {
  color: white;
}

.comprar-body {
  background-color: rgb(230, 230, 230);
}