.footer-container {
  display: flex;
  flex-direction: column;
  margin-right: 1050px;
  margin-top: 50px;
  opacity: 0.8;
}

.contato-text {
  display: flex;
  margin-bottom: 15px;
  font-size: 18px;
}

.footerImage {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 1000px;
  padding-top: 5px;
}

.footerImage-gmail {
  display: flex;
  width: 30px;
  height: 20px;
  border-radius: 1000px;
  padding-top: 7px;
}

@media(max-width:1300px){
  .footer-container {
    display: flex;
    flex-direction:row ;
    margin-right: 780px;
    margin-top: 50px;
    justify-content: space-around;
  }

  .contato-text {
    margin-top: -30px;
    margin-left: 200px;
    margin-bottom: 10px;
  }

  .footerImage {
    margin-left: 10px;
    align-items: center;
    margin-top: -10px;
  }

  .footerImage-gmail {
    margin-left: 15px;
    margin-top: -10px;
  }
}

@media(max-width:1030px){
  .footer-container {
    margin-right: 500px;
  }
}