.promo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto 0 auto;
  font-size: 36px;
  animation-name: Promo;
  animation-duration: 0.6s;
}

@keyframes Promo {
  from{transform: translateY(100px);}
  to{transform: translateY(0px);}
}

@keyframes logo {
  from{transform: translateX(100px);}
  to{transform: translateX(0px);}
}

.spam {
  display: flex;
  font-size: 25px;
  margin: 200px auto -35px auto;
  animation-duration: 0.5s;
  animation-name: Arrow;
}


.olhar-catalogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  font-size: 17px;
  padding-bottom: 30px;
  animation-name: Arrow;
  animation-duration: 0.9s;
}

.arrow-down {
  display: flex;
  margin: 20px auto 30px auto;
  font-size: 30px;
  color: white;
  transition: 0.3s;
  animation-name: Arrow;
  animation-duration: 0.9s;
  max-height: 90vh;
}

@keyframes Arrow {
  from{transform: translateY(100px)}
  to{transform: translateY(0px)}
}

.arrow-down:hover {
  transform: scale(0.8);
  
}

.arrow-down-2 {
  display: flex;
  margin: 90px auto 0 auto;
  font-size: 30px;
  color: white;
  transition: 0.3s;
}
.arrow-down-2:hover {
  transform: scale(0.8);
}

.strong {
  color: red;
  font-size: 50px;
  animation: discount 3s;
  animation-iteration-count: infinite;
}

@keyframes discount {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
  }
  
  50% {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6;
  }

  100%{
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    
  }



}

/*RESPONSIVIDADE*/

@media(max-width: 1300px){
  .promo-container {
    margin-left: 30px;
  }

  .black-logo {
    margin-left: 950px ;  
  }

  .spam {
    margin-left: 380px;
    margin-top: -20px;
  }

  .olhar-catalogo {
    margin-top: 70px;
  }

  .arrow-down {
    margin-top: 5px;
  }

  .arrow-down-2 {
    margin-top: 30px;
  } 
}

@media(max-width:1030px){
  .black-logo {
    margin: 100px auto 0 auto;
  }

  .promo-container {
    margin-left: 50px;
  }

  .spam {
    margin-left: 250px;
    margin-top: -30px;
  }

  .olhar-catalogo {
    margin-top: 65px ;
  }

  .arrow-down {
    margin-top: -15px;
  }

  .arrow-down-2 {
    margin-top: 30px;
  }
}






