.promo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: 500px;
  font-size: 36px;
  animation-name: Promo;
  animation-duration: 0.6s;
}

@keyframes Promo {
  from{transform: translateY(100px);}
  to{transform: translateY(0px);}
}

.black-logo {
  display: flex;
  width: 220px;
  height: 220px;
  border-radius: 100px;
  background-color: rgb(255, 0, 0);
  margin-left: 900px;
  margin-top: -300px;
  animation-name: logo;
  animation-duration: 0.9s;
}

@keyframes logo {
  from{transform: translateX(100px)}
  to{transform: translateX(0px)}
}

.spam {
  display: flex;
  font-size: 25px;
  margin-top: 100px;
  margin-left: 430px;
  margin-bottom: -35px;
  animation-duration: 0.5s;
  animation-name: Arrow;
}


.olhar-catalogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  font-size: 17px;
  padding-bottom: 30px;
  animation-name: Arrow;
  animation-duration: 0.9s;
}

.arrow-down {
  display: flex;
  margin: 20px auto 30px auto;
  font-size: 30px;
  color: white;
  transition: 0.3s;
  animation-name: Arrow;
  animation-duration: 0.9s;
}

@keyframes Arrow {
  from{transform: translateY(100px)}
  to{transform: translateY(0px)}
}

.arrow-down:hover {
  transform: scale(0.8);
  
}

.arrow-down-2 {
  display: flex;
  margin: 90px auto 0 auto;
  font-size: 30px;
  color: white;
  transition: 0.3s;
}
.arrow-down-2:hover {
  transform: scale(0.9);
  padding-top: 10px;

}

.strong {
  color: red;
  font-size: 50px;
}

/*RESPONSIVIDADE*/

@media(max-width: 1300px){
  .promo-container {
    margin-left: 30px;
  }

  .black-logo {
    margin-left: 950px ;  
  }

  .spam {
    margin-left: 380px;
    margin-top: -20px;
  }

  .olhar-catalogo {
    margin-top: 70px;
  }

  .arrow-down {
    margin-top: 5px;
  }

  .arrow-down-2 {
    margin-top: 30px;
  } 
}

@media(max-width:1030px){
  .black-logo {
    margin-left: 680px;
    margin-top: -300px;
  }

  .promo-container {
    margin-left: 50px;
  }

  .spam {
    margin-left: 250px;
    margin-top: -30px;
  }

  .olhar-catalogo {
    margin-top: 65px ;
  }

  .arrow-down {
    margin-top: -15px;
  }

  .arrow-down-2 {
    margin-top: 30px;
  }
}






